html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }


  @media screen and (min-width: 768px) {
    body {
        background-color: aqua;
    }

    .container {
        width: 95%;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    nav {
        width: auto;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 250px;
        list-style-type: none;
    }

    .main-container {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .main-content {
        width: 80%;
        padding: 0 20px;
    }

  }

  @media (min-width: 992px) {
    body {
        background-color: bisque;
    }

    .container {
        width: 80%;
    }

    footer {
        max-width: 700px;
    }
  }
